.sub{
    background-color: rgb(199, 2, 2);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 35px;
    width: 105px;
    border: none;
    cursor: pointer;
}
.join{
    border-color: rgb(80, 80, 247);
    border-radius: 2px;
    border-style: solid;
}