<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <h1 class="text-center bg-primary text-white p-3">Log in</h1>
    <p class="text-center">Doesn't have an account?<a href="/blog/register">Create an account</a></p>
    <div class="container d-flex align-items-center justify-content-center">
        <form action="user" method="GET" class="shadow p-5 mb-5 bg-white rounded">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="psw">Password</label>
                <input type="password" id="psw" name="psw" class="form-control" required/>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">Log in</button>
            </div>
            <p><a href="/forget">Forget password?</a></p>
        </form>
    </div>
</body>
</html>