.top-tire{
    height: 100px;
    padding: 10px;
}
.middle-tire{
    position: relative;
    display: flex;
    height: fit-content;
}
#main{
    display: none;
}
input{
    font-family: monospace;
    width: 50%;
    font-size: 1.5rem;
    height: 30px;
    margin-left: 25%;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 3px;
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px black;
}
input::placeholder{
    letter-spacing: 2px;
    text-align: center;
}
button{
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
.celcius{
    margin-left: 15%;
}
.foreign{
    margin-right: 15%;
}
sup{
    font-size: 1rem;
    margin-left: 5px;
    cursor: pointer;
}
#climate{
    font-size: 2rem;
}
.images{
    width: 100%;
}
body{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #0011FF, #00AAFF);
}
.details-loc{
    /* display: none; */
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
    max-width: 100%;
    width: 32%;
    padding: 15px;
    height: auto;
    background-color: hsl(0, 100%, 100%, 80%);
    border-radius: 10px;
    /* border: 2px solid black; */
}
#details > p{
    max-width: 100%;
    height: auto;
    color: black;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: bolder;
}
#change{
    font-size: 2rem;
    color: black;
    font-weight: bolder;
    letter-spacing: 4px;
}
sup{
    font-size: 1.5rem;
}
.temperature{
    margin: auto;
    text-align: center;
    border: 2px solid black;
}
.climate{
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
    margin: 10px 0px;
    background: url() no-repeat cover;
}
.climate > p{
    width: 520px;
    height: fit-content;
    background-color: hsl(0, 0%, 0%, 50%);
    color: #FFFFFF;
    margin: auto;
    border-radius: 10px;
    padding: 10px 0px;
}
#spin{
    width: 10px;
    height: 30px;
    box-shadow: 2px 1px 2px 1px #000000;
    animation: hello infinite 1s;
}
#load{
    margin-left: 10px;
}
#class-load{
    display: none;
    z-index: 9999;
}
.loading{
    position: fixed;
    display: flex;
    left: 45%;
    top: 40%;
    font-size: 1.5rem;
}
@keyframes hello {
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(180deg);
        background-color: black;
        box-shadow: 2px 1px 2px 1px #FFFFFF;
    }
    100%{
        transform: rotateX(360deg);
        background-color: white;
        box-shadow: 2px 1px 2px 1px #000000;
    }
}