body{
    text-decoration: none;
    display: flex;
    
}
nav{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("back.jpg");
}
.home{
    padding: 0px 100px 0px 100px;
}
.home a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#About{
    position: relative;
    margin-top: 69px;
    padding-left: 1000px;
    margin-left: 0;
    right: 0;
    border: 2px solid black;
}