/* body{
    background-image: url("computer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
body{
    background-color: #d5e1df;
}
nav{
    display: block;
}
.navigation{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.pos{
    height: 70px;
    display: flex;
    letter-spacing: 1px;
    font-family: sans-serif;
    border: 2px solid black;
}
.home,.contact,.skills,.academics,.projects{
    margin: 0px 100px 0px 100px;
    color:#86af49;
    text-decoration: none;
    border: 2px solid black;

}
.pos a{
    text-decoration: none;
    color: #86af49;
}
/* .academics{
    color: black;
    animation: academics 5s infinite;
} */
/* @keyframes academics{
    0% {color:coral;}
    25%{color: rgb(195, 195, 255);}
    50%{color: rgb(141, 141, 126);}
    75%{color:white;}
    100%{color:rgb(167, 75, 248);}

} */
/* @keyframes body{
    0% {background-color:coral;}
    25%{background-color: rgb(195, 195, 255);}
    50%{colbackground-coloror: rgb(141, 141, 126);}
    75%{background-color:white;}
    100%{background-color:rgb(167, 75, 248);}
} */
.ll{
    margin-top: 620px;
}

a:hover{
    color:#afd476;
    font-size: 25px;
    transition-duration: 1s;
    
}