.main{
    width: fit-content;
    height: auto;
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;
}
input{
    width: 400px;
    height: 60px;
    text-align: right;
    font-family: monospace;
    font-size: 3rem;
}
button{
    text-align: center;
    width: 100px;
    height: 80px;
    font-size: 1.5rem;
    cursor: pointer;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
}
#btn15{
    color: rgb(88, 197, 88);
}
#btn16{
    color: red;
}
